- content_for :head do
  - if mobile
    = javascript_include_tag :jquery
  :javascript
    $(document).ready(function () {
      var data = $.parseJSON( '#{@tags_array.to_json.gsub("'", "\\\\'")}' ),
          autocompleteInput = $("#profile_tag_string");

      autocompleteInput.autoSuggest("#{tags_path}", {
        selectedItemProp: "name",
        selectedValuesProp: "name",
        searchObjProps: "name",
        asHtmlID: "tags",
        neverSubmit: true,
        retrieveLimit: 10,
        minChars: 2,
        keyDelay: 200,
        startText: "",
        emptyText: "#{t('no_results')}",
        preFill: data
        });

      autocompleteInput.bind('keydown', function(evt){
        if(evt.keyCode == 13 || evt.keyCode == 9 || evt.keyCode == 32){
          evt.preventDefault();
          if( $('li.as-result-item.active').length == 0 ){
            $('li.as-result-item').first().click();
          }
        }
      });
    });

- if mobile
  .stream
  - flash.each do |name, msg|
    %div{:id => "flash_#{name}", :class => "expose"}
      .message= msg
    .stream
      %p{:class => "conversation_#{name}"}= msg

%h3.inline
  = t("profiles.edit.basic")
  %span{ :title => t("profiles.edit.basic_hint") }
    %i.entypo.circled-help.visibility-hint-icon
.small-horizontal-spacer

= error_messages_for profile

%h4= t('profiles.edit.your_name')

.row
  .col-md-6
    = label_tag 'profile[first_name]', t('profiles.edit.first_name')
    = text_field_tag 'profile[first_name]', profile.first_name, class: 'form-control'
  .col-md-6
    = label_tag 'profile[last_name]', t('profiles.edit.last_name')
    = text_field_tag 'profile[last_name]', profile.last_name, class: 'form-control'

.small-horizontal-spacer

%h4= t('profiles.edit.your_tags')

= text_field_tag 'profile[tag_string]', "", placeholder: t('profiles.edit.your_tags_placeholder'),class: "form-control"

/= select_tag 'active_id', "", :multiple => true, :size => 5, class: 'form-control'
.row

  .col-md-6
    
    .small-horizontal-spacer
    =label_tag '#арт-терапевты'
    = radio_button_tag 'profile[tag_string]', "#арт-терапевты"
    .small-horizontal-spacer  
    = label_tag '#бодинамисты'
    = radio_button_tag 'profile[tag_string]', "#бодинамисты"
    .small-horizontal-spacer 
    = label_tag '#гештальт-терапевты'
    = radio_button_tag 'profile[tag_string]', "#гештальт-терапевты"
    .small-horizontal-spacer
    = label_tag '#кбп'
    = radio_button_tag 'profile[tag_string]', "#кбп"
    .small-horizontal-spacer
    = label_tag '#психоаналитики'
    = radio_button_tag 'profile[tag_string]', "#психоаналитики"
    .small-horizontal-spacer
    = label_tag '#психодраматерапевты'
    = radio_button_tag 'profile[tag_string]', "#психодраматерапевты"
    .small-horizontal-spacer
    = label_tag '#системные расстановщики'
    = radio_button_tag 'profile[tag_string]', "#системные расстановщики"
  .col-md-6
    .small-horizontal-spacer
    = label_tag '#сст'
    = radio_button_tag 'profile[tag_string]', "#сст"
    .small-horizontal-spacer
    = label_tag '#топ'
    = radio_button_tag 'profile[tag_string]', "#топ"
    .small-horizontal-spacer
    = label_tag '#экзистенциальные психотерапевты'
    = radio_button_tag 'profile[tag_string]', "#экзистенциальные психотерапевты"
    .small-horizontal-spacer  
    = label_tag '#другие психотерапевты'
    = radio_button_tag 'profile[tag_string]', "#другие психотерапевты"
    .small-horizontal-spacer
    = label_tag '#психологи'
    = radio_button_tag 'profile[tag_string]', "#психологи"
    .small-horizontal-spacer
    = label_tag '#студенты-психологи'
    = radio_button_tag 'profile[tag_string]', "#студенты-психологи"
    .small-horizontal-spacer
    = label_tag '#клиенты'
    = radio_button_tag 'profile[tag_string]', "#клиенты"

.small-horizontal-spacer

%h4= t('profiles.edit.your_photo')

= render 'photos/new_profile_photo', aspect: aspect, person: person
