<div class="navbar navbar-inverse navbar-inner" id="mainmenu2">
      
          <ul class="nav">
             <li><%= link_to "Наши разделы", '#' %></li>
              <div class="sub-menu">
                 <ul>
                    <li><%= link_to "Авторские статьи пользователей", tag_path("iauthor") %></li>
                    <li><%= link_to "Публикации известных психологов", tag_path("knownpsi")%></li>
                    <li><%= link_to "Основные психотерапевтические направления", tag_path("mainpsi") %></li>
                    <li><%= link_to "Актуальные темы для обсуждений", stat_path %></li>
                    <li><%= link_to "Раздел #{"Рекомендую"}", '#' %></li>
                    <li><%= link_to "Раздел #{"Помогите найти"}", '#'%></li>
                    <li><%= link_to "Раздел #{"Мои увлечения"}", '#' %></li>
                    <li><%= link_to "Помощь специалиста он-лайн", '#' %></li>
                    <li><%= link_to "Студентам-психологам на заметку", '#' %></li>
                </ul>   
                </div
              <li><%= link_to "Наши пользователи", '#' %></li>
               <div class="sub-menu">
                 <ul>
                    <li><%= link_to "Арт-терапевты", '#' %></li>
                    <li><%= link_to "Бодинамисты", '#' %></li>
                    <li><%= link_to "Гештальт-терапевты", '#' %></li>
                    <li><%= link_to "Когнитивно-бихевиоральные психотерапевты", '#' %></li>
                    <li><%= link_to "Психоаналитики", '#' %></li>
                    <li><%= link_to "Психодраматерапевты", '#' %></li>
                    <li><%= link_to "Системные расстановщики", '#' %></li>
                    <li><%= link_to "Системные семейные терапевты", '#' %></li>
                    <li><%= link_to "Телесно-ориентированные психотерапевты", '#' %></li>
                    <li><%= link_to "Экзистенциальные психотерапевты", '#' %></li>
                    <li><%= link_to "Другие психотерапевты", '#' %></li>
                    <li><%= link_to "Психологи", '#' %></li>
                    <li><%= link_to "Студенты-психологи", '#' %></li>
                    <li><%= link_to "Клиенты", '#' %></li>
                </ul>   
                </div
              <li><%= link_to "Лента новостей", '#' %>
           
              </li>
              <li><%= link_to "Календарь событий", '#' %></li>
              <li><%= link_to "Моя страничка", '#' %></li> 
               <li><%= link_to "Платные разделы", '#' %>
                <li><%= link_to "Помощь по сайту", '#' %></li>
              <li><%= link_to "Книга жалоб и предложений", '#' %></li> 
             
          </ul>

        </div>