<div class='faq_getting_help'>
<h1>diaspora* FAQ</h1>
<br>
<div class='question opened'>
  <h4>{{{ getting_started_q }}}</h4>
  <div class='answer'>
    {{{ getting_started_a1 }}}
      <ul>
        <li>{{{ getting_started_a2 }}}</li>
        <li>{{{ getting_started_a3 }}}</li>
        <li>{{{ getting_started_a4 }}}</li>
        <li>{{{ getting_started_a5 }}}</li>
        <li>{{{ getting_started_a6 }}}</li>
        <li>{{{ getting_started_a7 }}}</li>
        <li>{{{ getting_started_a8 }}}</li>
        <li>{{{ getting_started_a9 }}}</li>
        <li>{{{ getting_started_a10 }}}</li>
        <li>{{{ getting_started_a11 }}}</li>
        <li>{{{ getting_started_a12 }}}</li>
      </ul>
    </div>
</div>
<div class='question opened'>
  <h4>{{{ get_support_q }}}</h4>
  <div class='answer'>
    <ul>
      <li>{{{ get_art_therapists }}}</li>
      <li>{{{ get_bodinamist }}}</li>
      <li>{{{ get_gestalt }}}</li>
      <li>{{{ get_kbp }}}</li>
      <li>{{{ get_psychoanalyst }}}</li>
      <li>{{{ get_psihodrama }}}</li>
      <li>{{{ get_systemcon }}}</li>
      <li>{{{ get_familyter }}}</li>
      <li>{{{ get_bodyter }}}</li>
      <li>{{{ get_existential }}}</li>
      <li>{{{ get_other }}}</li>
      <li>{{{ get_psychologists }}}</li>
      <li>{{{ get_students }}}</li>
      <li>{{{ get_clients }}}</li>
    </ul>
  </div>
</div>
</div>
